<?xml version="1.0"?>
<!--
/**
 * Admin Routes Configuration
 *
 * @category  Ashokkumar
 * @package   Ashokkumar_LoginAsCustomer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="loginascustomer" frontName="loginascustomer">
            <module name="Ashokkumar_LoginAsCustomer" before="Magento_Backend"/>
        </route>
    </router>
</config>
